In [17]:
from uuid import uuid4
from datetime import timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from geopy.distance import vincenty

In [18]:
def distance_delta(row):
    lat = row.latitude
    long = row.longitude
    lat_1 = row.latitude_shift_1
    long_1 = row.longitude_shift_1
    
    if any(map(np.isnan, [lat, long, lat_1, long_1])):
        return np.nan
    return vincenty((lat, long), (lat_1, long_1)).miles

In [19]:
date_columns = ['timestamp']
df = pd.read_csv("./gps_dataset.csv", sep=";", parse_dates=date_columns)
df.sort_values('timestamp')
df['week_day'] = df.timestamp.dt.weekday_name
df['timestamp_delta'] = df.timestamp - df.timestamp.shift(1)
df['latitude_shift_1'] = df.latitude.shift(1)
df['longitude_shift_1'] = df.longitude.shift(1)
df['distance_delta'] = df.apply(distance_delta, axis=1)
df['is_new_walk'] = df.apply(lambda x: x.timestamp_delta > timedelta(minutes=15) or pd.isnull(x.timestamp_delta), axis=1)
df

,timestamp,latitude,longitude,altitude,horizontalAccuracy,verticalAccuracy,speed,course,week_day,timestamp_delta,latitude_shift_1,longitude_shift_1,distance_delta,is_new_walk
0,2018-03-13 21:15:01,40.702452,-73.984135,25.913151,65.000000,65.000000,-3.600000,-1.000000,Tuesday,NaT,NaN,NaN,NaN,True
1,2018-03-13 21:15:20,40.702438,-73.984151,28.514435,50.000000,50.000000,0.000000,251.718750,Tuesday,00:00:19,40.702452,-73.984135,0.001280,False
2,2018-03-13 21:15:20,40.702425,-73.984172,29.354584,30.000000,30.000000,1.332000,207.421875,Tuesday,00:00:00,40.702438,-73.984151,0.001422,False
3,2018-03-13 21:15:37,40.702373,-73.984281,19.380890,25.000000,25.000000,5.256000,278.789062,Tuesday,00:00:17,40.702425,-73.984172,0.006756,False
4,2018-03-13 21:15:44,40.702355,-73.984412,20.954529,25.000000,25.000000,5.220000,270.703125,Tuesday,00:00:07,40.702373,-73.984281,0.006990,False
5,2018-03-13 21:15:51,40.702327,-73.984551,18.081909,25.000000,25.000000,9.324000,251.015625,Tuesday,00:00:07,40.702355,-73.984412,0.007551,False
6,2018-03-13 21:15:56,40.702300,-73.984664,14.060150,25.000000,25.000000,7.092000,272.812500,Tuesday,00:00:05,40.702327,-73.984551,0.006220,False
7,2018-03-13 21:16:03,40.702337,-73.984773,15.728363,25.000000,25.000000,4.572000,261.562500,Tuesday,00:00:07,40.702300,-73.984664,0.006268,False
8,2018-03-13 21:16:12,40.702385,-73.984881,14.312653,25.000000,25.000000,5.904000,285.117188,Tuesday,00:00:09,40.702337,-73.984773,0.006568,False
9,2018-03-13 21:16:19,40.702404,-73.984992,15.765320,10.000000,10.000000,5.076000,284.414062,Tuesday,00:00:07,40.702385,-73.984881,0.005975,False
10,2018-03-13 21:16:26,40.702448,-73.985105,14.511047,25.000000,25.000000,5.616000,277.031250,Tuesday,00:00:07,40.702404,-73.984992,0.006666,False
11,2018-03-13 21:16:33,40.702452,-73.985234,14.000580,25.000000,25.000000,5.688000,277.382812,Tuesday,00:00:07,40.702448,-73.985105,0.006780,False
12,2018-03-13 21:16:40,40.702454,-73.985357,15.691589,25.000000,25.000000,4.356000,275.976562,Tuesday,00:00:07,40.702452,-73.985234,0.006461,False
13,2018-03-13 21:16:42,40.702458,-73.985394,14.279175,10.000000,10.000000,5.724000,279.492188,Tuesday,00:00:02,40.702454,-73.985357,0.001963,False
14,2018-03-13 21:16:49,40.702452,-73.985530,15.054138,10.000000,10.000000,5.724000,269.648438,Tuesday,00:00:07,40.702458,-73.985394,0.007154,False
15,2018-03-13 21:16:57,40.702468,-73.985655,15.321564,25.000000,25.000000,5.112000,284.765625,Tuesday,00:00:08,40.702452,-73.985530,0.006656,False
16,2018-03-13 21:17:08,40.702401,-73.985747,17.504456,25.000000,25.000000,2.376000,319.218750,Tuesday,00:00:11,40.702468,-73.985655,0.006687,False
17,2018-03-13 21:17:11,40.702402,-73.985795,16.895203,10.000000,10.000000,4.824000,312.890625,Tuesday,00:00:03,40.702401,-73.985747,0.002522,False
18,2018-03-13 21:17:18,40.702372,-73.985921,19.292084,25.000000,25.000000,3.348000,299.179688,Tuesday,00:00:07,40.702402,-73.985795,0.006933,False
19,2018-03-13 21:17:23,40.702358,-73.986046,18.390228,25.000000,25.000000,6.516000,284.765625,Tuesday,00:00:05,40.702372,-73.985921,0.006635,False
20,2018-03-13 21:17:28,40.702371,-73.986186,20.083618,25.000000,25.000000,6.552000,289.687500,Tuesday,00:00:05,40.702358,-73.986046,0.007406,False
21,2018-03-13 21:17:33,40.702382,-73.986330,19.919434,25.000000,25.000000,6.516000,274.921875,Tuesday,00:00:05,40.702371,-73.986186,0.007600,False
22,2018-03-13 21:17:37,40.702373,-73.986457,16.021729,25.000000,25.000000,6.516000,270.703125,Tuesday,00:00:04,40.702382,-73.986330,0.006698,False
23,2018-03-13 21:17:45,40.702456,-73.986519,18.590851,25.000000,25.000000,5.868000,0.703125,Tuesday,00:00:08,40.702373,-73.986457,0.006588,False
24,2018-03-13 21:17:55,40.702531,-73.986611,24.254456,25.000000,25.000000,3.240000,334.687500,Tuesday,00:00:10,40.702456,-73.986519,0.007080,False
25,2018-03-13 21:17:59,40.702610,-73.986658,23.197632,10.000000,10.000000,5.796000,2.109375,Tuesday,00:00:04,40.702531,-73.986611,0.005984,False
26,2018-03-13 21:18:03,40.702705,-73.986698,24.259338,25.000000,25.000000,5.508000,0.351562,Tuesday,00:00:04,40.702610,-73.986658,0.006884,False
27,2018-03-13 21:18:06,40.702794,-73.986720,23.337280,25.000000,25.000000,6.660000,357.539062,Tuesday,00:00:03,40.702705,-73.986698,0.006249,False
28,2018-03-13 21:18:07,40.702817,-73.986726,23.004181,10.000000,10.000000,5.688000,10.195312,Tuesday,00:00:01,40.702794,-73.986720,0.001618,False
29,2018-03-13 21:18:13,40.702910,-73.986756,21.481537,25.000000,25.000000,4.464000,358.242188,Tuesday,00:00:06,40.702817,-73.986726,0.006608,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018-03-15 11:42:08,40.736532,-73.985280,27.556519,25.000000,25.000000,5.040000,331.523438,Thursday,00:00:16,40.736455,-73.985213,0.006372,False
530,2018-03-15 11:42:14,40.736636,-73.985322,25.499420,25.000000,25.000000,6.084000,356.132812,Thursday,00:00:06,40.736532,-73.985280,0.007507,False
531,2018-03-15 11:42:20,40.736668,-73.985439,26.072021,25.000000,25.000000,2.880000,293.203125,Thursday,00:00:06,40.736636,-73.985322,0.006526,False
532,2018-03-15 11:42:33,40.736752,-73.985495,24.993988,25.000000,25.000000,3.960000,307.968750,Thursday,00:00:13,40.736668,-73.985439,0.006499,False
533,2018-03-15 11:42:40,40.736835,-73.985575,24.943085,36.347758,36.347758,1.296000,336.796875,Thursday,00:00:07,40.736752,-73.985495,0.007102,False
534,2018-03-15 11:42:41,40.736886,-73.985572,24.833832,25.000000,25.000000,6.876000,336.796875,Thursday,00:00:01,40.736835,-73.985575,0.003523,False
535,2018-03-15 11:43:03,40.736820,-73.985704,25.255615,30.000000,30.000000,10.188000,236.953125,Thursday,00:00:22,40.736886,-73.985572,0.008291,False
536,2018-03-15 11:43:10,40.736857,-73.985834,25.324097,30.000000,30.000000,5.436000,313.593750,Thursday,00:00:07,40.736820,-73.985704,0.007285,False
537,2018-03-15 11:43:13,40.736958,-73.985907,27.078583,37.845352,37.845352,9.396000,322.382812,Thursday,00:00:03,40.736857,-73.985834,0.007953,False
538,2018-03-15 11:43:18,40.737027,-73.985988,24.985016,30.000000,30.000000,5.688000,318.867188,Thursday,00:00:05,40.736958,-73.985907,0.006383,False
539,2018-03-15 11:43:27,40.737057,-73.986112,25.898499,30.000000,30.000000,4.716000,254.179688,Thursday,00:00:09,40.737027,-73.985988,0.006830,False
540,2018-03-15 11:43:32,40.737003,-73.986227,28.135986,30.000000,30.000000,1.368000,262.617188,Thursday,00:00:05,40.737057,-73.986112,0.007093,False
541,2018-03-15 11:43:39,40.737024,-73.986358,26.902740,30.000000,30.000000,5.652000,297.070312,Thursday,00:00:07,40.737003,-73.986227,0.007027,False
542,2018-03-15 11:43:48,40.737042,-73.986474,28.451660,25.000000,25.000000,2.052000,299.882812,Thursday,00:00:09,40.737024,-73.986358,0.006214,False
543,2018-03-15 11:43:52,40.736947,-73.986535,30.112427,25.000000,25.000000,3.456000,202.500000,Thursday,00:00:04,40.737042,-73.986474,0.007295,False
544,2018-03-15 11:43:57,40.736871,-73.986620,28.546753,30.000000,30.000000,4.536000,240.117188,Thursday,00:00:05,40.736947,-73.986535,0.006885,False
545,2018-03-15 11:43:59,40.736838,-73.986734,28.485626,30.000000,30.000000,14.904000,248.554688,Thursday,00:00:02,40.736871,-73.986620,0.006402,False
546,2018-03-15 11:44:01,40.736790,-73.986896,27.002014,30.000000,30.000000,14.904000,245.039062,Thursday,00:00:02,40.736838,-73.986734,0.009125,False
547,2018-03-15 11:44:06,40.736818,-73.986928,27.536133,10.000000,10.000000,2.340000,49.570312,Thursday,00:00:05,40.736790,-73.986896,0.002560,False
548,2018-03-15 11:44:17,40.736917,-73.986871,25.155243,54.366981,54.366981,3.852000,31.640625,Thursday,00:00:11,40.736818,-73.986928,0.007458,False
549,2018-03-15 11:44:24,40.736938,-73.986749,31.825989,100.000000,100.000000,5.688000,101.601562,Thursday,00:00:07,40.736917,-73.986871,0.006565,False
550,2018-03-15 11:44:31,40.736882,-73.986689,32.693939,50.000000,50.000000,2.484000,119.531250,Thursday,00:00:07,40.736938,-73.986749,0.004985,False
551,2018-03-15 11:44:36,40.736792,-73.986650,32.669312,200.000000,200.000000,4.727099,-1.000000,Thursday,00:00:05,40.736882,-73.986689,0.006539,False
552,2018-03-15 11:44:48,40.736673,-73.986550,32.661781,203.169183,203.169183,4.267802,-1.000000,Thursday,00:00:12,40.736792,-73.986650,0.009745,False
553,2018-03-15 11:44:51,40.736668,-73.986600,32.138062,50.000000,50.000000,5.364000,148.007812,Thursday,00:00:03,40.736673,-73.986550,0.002647,False
554,2018-03-15 11:44:55,40.736763,-73.986694,32.450500,50.000000,50.000000,0.792000,81.914062,Thursday,00:00:04,40.736668,-73.986600,0.008204,False
555,2018-03-15 11:44:57,40.736804,-73.986720,31.937012,30.000000,30.000000,1.512000,43.593750,Thursday,00:00:02,40.736763,-73.986694,0.003141,False
556,2018-03-15 11:45:04,40.736887,-73.986782,32.413757,50.000000,50.000000,2.196000,305.859375,Thursday,00:00:07,40.736804,-73.986720,0.006587,False
557,2018-03-15 11:45:07,40.736920,-73.987220,32.662262,100.000000,100.000000,5.400000,279.492188,Thursday,00:00:03,40.736887,-73.986782,0.023102,False
558,2018-03-15 11:45:08,40.736956,-73.986960,32.218109,31.970269,31.970269,3.852000,309.023438,Thursday,00:00:01,40.736920,-73.987220,0.013871,False

To do:
- filter distance delta by horizonal / verical accuracy threshold. Is the distane between these points meaningful enough to suggest that someone has actually moved?
- ask what course, speed, and horizontalAccuracy	verticalAccuracy do / are all about
- identify walk start
- sum delta distance between start and end points for total walk milaige, df.group
- get max distance from walk start and reverese geo code for destination

In [20]:
walk_series = []
walk_slice_pairs = []
walks = [*df[df.is_new_walk].index, len(df)]
walks_count = len(walks)

In [21]:
for index, walk_start in enumerate(walks):
    next_index = index + 1
    
    if next_index >= walks_count:
        break
    
    walk_end = walks[next_index]
    walk_slice_pairs.append((walk_start, walk_end))

for start_index, end_index in walk_slice_pairs:
    walk_record_count = end_index - start_index
    walk_series.append(pd.Series([str(uuid4())], name='walk_id').repeat(walk_record_count))
    

pd.concat(walk_series)
df = df.assign(walk_id=pd.concat(walk_series).values)

In [59]:
rollup = df[['walk_id', 'distance_delta', 'week_day', 'timestamp_delta']].groupby(['walk_id']).agg({
    'distance_delta': 'sum',
    'timestamp_delta': 'sum',
    'week_day': 'first',
})
rollup
# add start time? / location

,distance_delta,timestamp_delta,week_day
walk_id,,,
1e80fa18-44f7-4e52-81ff-0fd6b1fc85bc,0.884004,09:10:38,Wednesday
34259282-5c89-4ae5-b43f-93600aa52c62,0.418876,11:45:30,Wednesday
47aa2080-6567-46e2-b388-a639fedb9a53,2.995915,02:45:30,Tuesday
59c0b918-6a00-43a4-9db5-10229f8e9c72,0.360357,00:05:43,Tuesday
daa8163e-3564-4916-b308-0068d1ddbfe5,0.549099,01:03:41,Wednesday
e27f3f33-5c93-4ff1-8372-a307b5aa6fde,0.344408,12:09:04,Thursday
ec16a0c4-f25c-44b7-8256-116538233ab0,0.963904,01:30:01,Wednesday

In [76]:
output = rollup.reset_index().rename(columns={'walk_id': 'id', "distance_delta": "distance", "timestamp_delta": "duration"})
output.to_json(orient='records')

'[{"id":"1e80fa18-44f7-4e52-81ff-0fd6b1fc85bc","distance":0.8840039421,"duration":33038000,"week_day":"Wednesday"},{"id":"34259282-5c89-4ae5-b43f-93600aa52c62","distance":0.4188761454,"duration":42330000,"week_day":"Wednesday"},{"id":"47aa2080-6567-46e2-b388-a639fedb9a53","distance":2.9959148554,"duration":9930000,"week_day":"Tuesday"},{"id":"59c0b918-6a00-43a4-9db5-10229f8e9c72","distance":0.3603569624,"duration":343000,"week_day":"Tuesday"},{"id":"daa8163e-3564-4916-b308-0068d1ddbfe5","distance":0.5490985275,"duration":3821000,"week_day":"Wednesday"},{"id":"e27f3f33-5c93-4ff1-8372-a307b5aa6fde","distance":0.3444081527,"duration":43744000,"week_day":"Thursday"},{"id":"ec16a0c4-f25c-44b7-8256-116538233ab0","distance":0.9639044118,"duration":5401000,"week_day":"Wednesday"}]'

In [78]:
output.to_json('./walks/public/walks.json', orient='records')