In [105]:
from datetime import timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from geopy.distance import vincenty

In [201]:
def distance_delta(row):
    lat = row.latitude
    long = row.longitude
    lat_1 = row.latitude_shift_1
    long_1 = row.longitude_shift_1
    
    if any(map(np.isnan, [lat, long, lat_1, long_1])):
        return np.nan
    return vincenty((lat, long), (lat_1, long_1)).feet

In [208]:
def is_walk(row):
    return row.timestamp_delta > timedelta(minutes=5) and row.distance_delta > max(row.horizontalAccuracy, row.verticalAccuracy)

In [213]:
date_columns = ['timestamp']
df = pd.read_csv("./gps_dataset.csv", sep=";", parse_dates=date_columns)
df.sort_values('timestamp')
df['week_day'] = df.timestamp.dt.weekday_name
df['timestamp_delta'] = df.timestamp - df.timestamp.shift(1)
df['latitude_shift_1'] = df.latitude.shift(1)
df['longitude_shift_1'] = df.longitude.shift(1)
df['distance_delta'] = df.apply(distance_delta, axis=1)
df['is_new_walk_by_time'] = df.timestamp_delta > timedelta(minutes=5)
df['is_new_walk_by_distance'] = df.distance_delta > df[["horizontalAccuracy", "B"]].max(axis=1)
df['is_walk'] = df.apply(is_walk, axis=1)
df

TypeError: 'method' object cannot be interpreted as an integer

To do:
- filter distance delta by horizonal / verical accuracy threshold. Is the distane between these points meaningful enough to suggest that someone has actually moved?
- ask what course, speed, and horizontalAccuracy	verticalAccuracy do / are all about

In [211]:
df[df.is_walk]

,timestamp,latitude,longitude,altitude,horizontalAccuracy,verticalAccuracy,speed,course,week_day,timestamp_delta,latitude_shift_1,longitude_shift_1,distance_delta,is_new_walk_by_time,is_new_walk_by_distance,is_walk
61,2018-03-13 23:50:12,40.736822,-73.986770,28.897570,65.0,65.0,-3.6,-1.0,Tuesday,02:29:28,40.702374,-73.984167,12571.244457,True,True,True
219,2018-03-14 12:59:28,40.737035,-73.987102,32.516083,30.0,30.0,0.0,-1.0,Wednesday,01:07:44,40.736935,-73.986922,61.771465,True,True,True
367,2018-03-14 21:59:52,40.737699,-73.989982,29.768972,65.0,65.0,-3.6,-1.0,Wednesday,08:38:07,40.735126,-73.990477,947.413808,True,True,True

In [203]:
df[df.is_new_walk_by_distance]

,timestamp,latitude,longitude,altitude,horizontalAccuracy,verticalAccuracy,speed,course,week_day,timestamp_delta,latitude_shift_1,longitude_shift_1,distance_delta,is_new_walk_by_time,is_new_walk_by_distance
1,2018-03-13 21:15:20,40.702438,-73.984151,28.514435,50.000000,50.000000,0.000000,251.718750,Tuesday,00:00:19,40.702452,-73.984135,6.759995,False,True
2,2018-03-13 21:15:20,40.702425,-73.984172,29.354584,30.000000,30.000000,1.332000,207.421875,Tuesday,00:00:00,40.702438,-73.984151,7.505748,False,True
3,2018-03-13 21:15:37,40.702373,-73.984281,19.380890,25.000000,25.000000,5.256000,278.789062,Tuesday,00:00:17,40.702425,-73.984172,35.669630,False,True
4,2018-03-13 21:15:44,40.702355,-73.984412,20.954529,25.000000,25.000000,5.220000,270.703125,Tuesday,00:00:07,40.702373,-73.984281,36.909769,False,True
5,2018-03-13 21:15:51,40.702327,-73.984551,18.081909,25.000000,25.000000,9.324000,251.015625,Tuesday,00:00:07,40.702355,-73.984412,39.867911,False,True
6,2018-03-13 21:15:56,40.702300,-73.984664,14.060150,25.000000,25.000000,7.092000,272.812500,Tuesday,00:00:05,40.702327,-73.984551,32.839574,False,True
7,2018-03-13 21:16:03,40.702337,-73.984773,15.728363,25.000000,25.000000,4.572000,261.562500,Tuesday,00:00:07,40.702300,-73.984664,33.092605,False,True
8,2018-03-13 21:16:12,40.702385,-73.984881,14.312653,25.000000,25.000000,5.904000,285.117188,Tuesday,00:00:09,40.702337,-73.984773,34.677743,False,True
9,2018-03-13 21:16:19,40.702404,-73.984992,15.765320,10.000000,10.000000,5.076000,284.414062,Tuesday,00:00:07,40.702385,-73.984881,31.545936,False,True
10,2018-03-13 21:16:26,40.702448,-73.985105,14.511047,25.000000,25.000000,5.616000,277.031250,Tuesday,00:00:07,40.702404,-73.984992,35.194434,False,True
11,2018-03-13 21:16:33,40.702452,-73.985234,14.000580,25.000000,25.000000,5.688000,277.382812,Tuesday,00:00:07,40.702448,-73.985105,35.797591,False,True
12,2018-03-13 21:16:40,40.702454,-73.985357,15.691589,25.000000,25.000000,4.356000,275.976562,Tuesday,00:00:07,40.702452,-73.985234,34.112073,False,True
13,2018-03-13 21:16:42,40.702458,-73.985394,14.279175,10.000000,10.000000,5.724000,279.492188,Tuesday,00:00:02,40.702454,-73.985357,10.362005,False,True
14,2018-03-13 21:16:49,40.702452,-73.985530,15.054138,10.000000,10.000000,5.724000,269.648438,Tuesday,00:00:07,40.702458,-73.985394,37.772114,False,True
15,2018-03-13 21:16:57,40.702468,-73.985655,15.321564,25.000000,25.000000,5.112000,284.765625,Tuesday,00:00:08,40.702452,-73.985530,35.145626,False,True
16,2018-03-13 21:17:08,40.702401,-73.985747,17.504456,25.000000,25.000000,2.376000,319.218750,Tuesday,00:00:11,40.702468,-73.985655,35.306682,False,True
17,2018-03-13 21:17:11,40.702402,-73.985795,16.895203,10.000000,10.000000,4.824000,312.890625,Tuesday,00:00:03,40.702401,-73.985747,13.313987,False,True
18,2018-03-13 21:17:18,40.702372,-73.985921,19.292084,25.000000,25.000000,3.348000,299.179688,Tuesday,00:00:07,40.702402,-73.985795,36.605971,False,True
19,2018-03-13 21:17:23,40.702358,-73.986046,18.390228,25.000000,25.000000,6.516000,284.765625,Tuesday,00:00:05,40.702372,-73.985921,35.032188,False,True
20,2018-03-13 21:17:28,40.702371,-73.986186,20.083618,25.000000,25.000000,6.552000,289.687500,Tuesday,00:00:05,40.702358,-73.986046,39.105820,False,True
21,2018-03-13 21:17:33,40.702382,-73.986330,19.919434,25.000000,25.000000,6.516000,274.921875,Tuesday,00:00:05,40.702371,-73.986186,40.127646,False,True
22,2018-03-13 21:17:37,40.702373,-73.986457,16.021729,25.000000,25.000000,6.516000,270.703125,Tuesday,00:00:04,40.702382,-73.986330,35.365747,False,True
23,2018-03-13 21:17:45,40.702456,-73.986519,18.590851,25.000000,25.000000,5.868000,0.703125,Tuesday,00:00:08,40.702373,-73.986457,34.784338,False,True
24,2018-03-13 21:17:55,40.702531,-73.986611,24.254456,25.000000,25.000000,3.240000,334.687500,Tuesday,00:00:10,40.702456,-73.986519,37.381148,False,True
25,2018-03-13 21:17:59,40.702610,-73.986658,23.197632,10.000000,10.000000,5.796000,2.109375,Tuesday,00:00:04,40.702531,-73.986611,31.594910,False,True
26,2018-03-13 21:18:03,40.702705,-73.986698,24.259338,25.000000,25.000000,5.508000,0.351562,Tuesday,00:00:04,40.702610,-73.986658,36.345006,False,True
27,2018-03-13 21:18:06,40.702794,-73.986720,23.337280,25.000000,25.000000,6.660000,357.539062,Tuesday,00:00:03,40.702705,-73.986698,32.994257,False,True
28,2018-03-13 21:18:07,40.702817,-73.986726,23.004181,10.000000,10.000000,5.688000,10.195312,Tuesday,00:00:01,40.702794,-73.986720,8.543163,False,True
29,2018-03-13 21:18:13,40.702910,-73.986756,21.481537,25.000000,25.000000,4.464000,358.242188,Tuesday,00:00:06,40.702817,-73.986726,34.888894,False,True
30,2018-03-13 21:18:18,40.702999,-73.986732,20.707977,25.000000,25.000000,6.156000,35.156250,Tuesday,00:00:05,40.702910,-73.986756,33.101263,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018-03-15 11:42:08,40.736532,-73.985280,27.556519,25.000000,25.000000,5.040000,331.523438,Thursday,00:00:16,40.736455,-73.985213,33.641744,False,True
530,2018-03-15 11:42:14,40.736636,-73.985322,25.499420,25.000000,25.000000,6.084000,356.132812,Thursday,00:00:06,40.736532,-73.985280,39.638103,False,True
531,2018-03-15 11:42:20,40.736668,-73.985439,26.072021,25.000000,25.000000,2.880000,293.203125,Thursday,00:00:06,40.736636,-73.985322,34.456418,False,True
532,2018-03-15 11:42:33,40.736752,-73.985495,24.993988,25.000000,25.000000,3.960000,307.968750,Thursday,00:00:13,40.736668,-73.985439,34.314002,False,True
533,2018-03-15 11:42:40,40.736835,-73.985575,24.943085,36.347758,36.347758,1.296000,336.796875,Thursday,00:00:07,40.736752,-73.985495,37.496107,False,True
534,2018-03-15 11:42:41,40.736886,-73.985572,24.833832,25.000000,25.000000,6.876000,336.796875,Thursday,00:00:01,40.736835,-73.985575,18.599595,False,True
535,2018-03-15 11:43:03,40.736820,-73.985704,25.255615,30.000000,30.000000,10.188000,236.953125,Thursday,00:00:22,40.736886,-73.985572,43.776384,False,True
536,2018-03-15 11:43:10,40.736857,-73.985834,25.324097,30.000000,30.000000,5.436000,313.593750,Thursday,00:00:07,40.736820,-73.985704,38.466067,False,True
537,2018-03-15 11:43:13,40.736958,-73.985907,27.078583,37.845352,37.845352,9.396000,322.382812,Thursday,00:00:03,40.736857,-73.985834,41.992081,False,True
538,2018-03-15 11:43:18,40.737027,-73.985988,24.985016,30.000000,30.000000,5.688000,318.867188,Thursday,00:00:05,40.736958,-73.985907,33.702399,False,True
539,2018-03-15 11:43:27,40.737057,-73.986112,25.898499,30.000000,30.000000,4.716000,254.179688,Thursday,00:00:09,40.737027,-73.985988,36.060138,False,True
540,2018-03-15 11:43:32,40.737003,-73.986227,28.135986,30.000000,30.000000,1.368000,262.617188,Thursday,00:00:05,40.737057,-73.986112,37.453168,False,True
541,2018-03-15 11:43:39,40.737024,-73.986358,26.902740,30.000000,30.000000,5.652000,297.070312,Thursday,00:00:07,40.737003,-73.986227,37.101140,False,True
542,2018-03-15 11:43:48,40.737042,-73.986474,28.451660,25.000000,25.000000,2.052000,299.882812,Thursday,00:00:09,40.737024,-73.986358,32.808860,False,True
543,2018-03-15 11:43:52,40.736947,-73.986535,30.112427,25.000000,25.000000,3.456000,202.500000,Thursday,00:00:04,40.737042,-73.986474,38.519336,False,True
544,2018-03-15 11:43:57,40.736871,-73.986620,28.546753,30.000000,30.000000,4.536000,240.117188,Thursday,00:00:05,40.736947,-73.986535,36.353513,False,True
545,2018-03-15 11:43:59,40.736838,-73.986734,28.485626,30.000000,30.000000,14.904000,248.554688,Thursday,00:00:02,40.736871,-73.986620,33.803018,False,True
546,2018-03-15 11:44:01,40.736790,-73.986896,27.002014,30.000000,30.000000,14.904000,245.039062,Thursday,00:00:02,40.736838,-73.986734,48.180745,False,True
547,2018-03-15 11:44:06,40.736818,-73.986928,27.536133,10.000000,10.000000,2.340000,49.570312,Thursday,00:00:05,40.736790,-73.986896,13.517043,False,True
548,2018-03-15 11:44:17,40.736917,-73.986871,25.155243,54.366981,54.366981,3.852000,31.640625,Thursday,00:00:11,40.736818,-73.986928,39.376340,False,True
549,2018-03-15 11:44:24,40.736938,-73.986749,31.825989,100.000000,100.000000,5.688000,101.601562,Thursday,00:00:07,40.736917,-73.986871,34.664463,False,True
550,2018-03-15 11:44:31,40.736882,-73.986689,32.693939,50.000000,50.000000,2.484000,119.531250,Thursday,00:00:07,40.736938,-73.986749,26.320110,False,True
551,2018-03-15 11:44:36,40.736792,-73.986650,32.669312,200.000000,200.000000,4.727099,-1.000000,Thursday,00:00:05,40.736882,-73.986689,34.525314,False,True
552,2018-03-15 11:44:48,40.736673,-73.986550,32.661781,203.169183,203.169183,4.267802,-1.000000,Thursday,00:00:12,40.736792,-73.986650,51.455965,False,True
553,2018-03-15 11:44:51,40.736668,-73.986600,32.138062,50.000000,50.000000,5.364000,148.007812,Thursday,00:00:03,40.736673,-73.986550,13.975667,False,True
554,2018-03-15 11:44:55,40.736763,-73.986694,32.450500,50.000000,50.000000,0.792000,81.914062,Thursday,00:00:04,40.736668,-73.986600,43.319449,False,True
555,2018-03-15 11:44:57,40.736804,-73.986720,31.937012,30.000000,30.000000,1.512000,43.593750,Thursday,00:00:02,40.736763,-73.986694,16.584656,False,True
556,2018-03-15 11:45:04,40.736887,-73.986782,32.413757,50.000000,50.000000,2.196000,305.859375,Thursday,00:00:07,40.736804,-73.986720,34.780120,False,True
557,2018-03-15 11:45:07,40.736920,-73.987220,32.662262,100.000000,100.000000,5.400000,279.492188,Thursday,00:00:03,40.736887,-73.986782,121.976390,False,True
558,2018-03-15 11:45:08,40.736956,-73.986960,32.218109,31.970269,31.970269,3.852000,309.023438,Thursday,00:00:01,40.736920,-73.987220,73.237477,False,True

In [204]:
df[df.is_new_walk_by_time]

,timestamp,latitude,longitude,altitude,horizontalAccuracy,verticalAccuracy,speed,course,week_day,timestamp_delta,latitude_shift_1,longitude_shift_1,distance_delta,is_new_walk_by_time,is_new_walk_by_distance
61,2018-03-13 23:50:12,40.736822,-73.986770,28.897570,65.0,65.0,-3.6,-1.0,Tuesday,02:29:28,40.702374,-73.984167,12571.244457,True,True
158,2018-03-14 11:39:44,40.736866,-73.986781,29.113699,65.0,65.0,-3.6,-1.0,Wednesday,11:33:30,40.736848,-73.986697,24.184859,True,True
219,2018-03-14 12:59:28,40.737035,-73.987102,32.516083,30.0,30.0,0.0,-1.0,Wednesday,01:07:44,40.736935,-73.986922,61.771465,True,True
367,2018-03-14 21:59:52,40.737699,-73.989982,29.768972,65.0,65.0,-3.6,-1.0,Wednesday,08:38:07,40.735126,-73.990477,947.413808,True,True
459,2018-03-14 22:31:55,40.738591,-73.993763,28.245260,65.0,65.0,-3.6,-1.0,Wednesday,00:05:52,40.738621,-73.993879,33.953354,True,True
463,2018-03-14 23:20:57,40.738574,-73.993766,28.024649,65.0,65.0,-3.6,-1.0,Wednesday,00:48:34,40.738623,-73.993868,33.431879,True,True
465,2018-03-14 23:27:36,40.738694,-73.994015,27.731878,65.0,65.0,-3.6,-1.0,Wednesday,00:06:30,40.738621,-73.993869,48.418425,True,True
508,2018-03-15 11:37:20,40.736814,-73.986764,28.921131,65.0,65.0,-3.6,-1.0,Thursday,12:01:16,40.736845,-73.986755,11.566452,True,True

In [200]:
df[df.is_new_walk_by_distance | df.is_new_walk_by_time]

,timestamp,latitude,longitude,altitude,horizontalAccuracy,verticalAccuracy,speed,course,week_day,timestamp_delta,latitude_shift_1,longitude_shift_1,distance_delta,is_new_walk_by_time,is_new_walk_by_distance
61,2018-03-13 23:50:12,40.736822,-73.986770,28.897570,65.0,65.0,-3.6,-1.0,Tuesday,02:29:28,40.702374,-73.984167,2.380918,True,True
158,2018-03-14 11:39:44,40.736866,-73.986781,29.113699,65.0,65.0,-3.6,-1.0,Wednesday,11:33:30,40.736848,-73.986697,0.004580,True,False
219,2018-03-14 12:59:28,40.737035,-73.987102,32.516083,30.0,30.0,0.0,-1.0,Wednesday,01:07:44,40.736935,-73.986922,0.011699,True,False
367,2018-03-14 21:59:52,40.737699,-73.989982,29.768972,65.0,65.0,-3.6,-1.0,Wednesday,08:38:07,40.735126,-73.990477,0.179434,True,True
459,2018-03-14 22:31:55,40.738591,-73.993763,28.245260,65.0,65.0,-3.6,-1.0,Wednesday,00:05:52,40.738621,-73.993879,0.006431,True,False
463,2018-03-14 23:20:57,40.738574,-73.993766,28.024649,65.0,65.0,-3.6,-1.0,Wednesday,00:48:34,40.738623,-73.993868,0.006332,True,False
465,2018-03-14 23:27:36,40.738694,-73.994015,27.731878,65.0,65.0,-3.6,-1.0,Wednesday,00:06:30,40.738621,-73.993869,0.009170,True,False
508,2018-03-15 11:37:20,40.736814,-73.986764,28.921131,65.0,65.0,-3.6,-1.0,Thursday,12:01:16,40.736845,-73.986755,0.002191,True,False